<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Repository -->
    <bean id="postRepository" class="ru.netology.repository.PostRepository"/>

    <!-- Service -->
    <bean id="postService" class="ru.netology.service.PostService">
        <constructor-arg ref="postRepository"/>
    </bean>

    <!-- Controller -->
    <bean id="postController" class="ru.netology.controller.PostController">
        <constructor-arg ref="postService"/>
    </bean>

</beans>